  <script>
    document.querySelector('form').reset()

    document.querySelector('.input').addEventListener('blur', e => {
      e.target.value === true ? alert(e.target.value) : alert("Wpisz cos")
    })
  </script>
  </body>
</html>