<%- include("partials/header") %>
<main class='section'>
	<section class='box'>
		<div class='hero is-primary is-bold'>
			<div class='hero-body'>
				<h1 class='title is-1'>Witamy w formularzu głosowania</h1>
				<p class='subtitle'>Oddaj głos</p>
			</div>
		</div>
		<form action='/makeVoute' method='POST' class='field'>
			<div class='field'>
				<div class='control id'>
					<div>
						<label class='label' for='id'>Identyfikator</label>
					</div>
					<div>
						<input type='number' placeholder="Wpisz swój identyfikator" class='input' name='id' />
					</div>
				</div>
			</div>
			<div class='field'>
				<div class='options'>
					<div class="control">
						<% dane.map( ( { name } ) => { %>
							<label class="radio">
								<input type="radio" name="option" value= <%=name %> />
								<%= name %>
							  </label>
						<% }) %>
					</div>
				</div>
			</div>
			<div class="field is-grouped">
				<div class='outer-buttons-section'>
					<div class='inner-buttons-section'>
					  	<div class="control">
				    		<button class="button is-success" type="submit" id="success">Zagłosuj</button>
					  	</div>
					  	<div class='control'>
					  		<a class='button is-link' href="/wyniki" target="blank">Zobacz wyniki</a>
					  	</div>
					</div>
				</div>
			</div>
		</form> 
	</section>
</main>
<%- include("partials/footer") %>