<%- include('partials/header') %>
    <main class="section">
        <section class="box">
            <article class="hero is-success">
                <div class="hero-body">
                    <p class="title is-1">Dziekujemy za oddanie glosu :)</p>
                    <div class="subtitle">
                        <a href="/" class="button is-link">Powrót</a>
                    </div>
                </div>
            </article>
        </section>
    </main>
<%- include('partials/footer') %>